{
  "presets": ["react", "flow", "es2015", "stage-0", "stage-3"],
  "plugins": ["transform-decorators-legacy","transform-runtime"],
  "env": {
    "development": {
      "presets": ["react-hmre"],
    },
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
